<h2>Login Form</h2>
<form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
    <p>
      <label>Username : </label>
      <input formControlName="email" type="email" placeholder="Your email">
    </p>
    <p>
      <label>Password : </label>
      <input formControlName="password" type="password" placeholder="Your password">
    </p>
  <button type="submit">Log in</button>
  <p *ngIf = "isValidAdmin === false" id="incorrect-login-message">Sorry Username or password is not correct.</p>
</form>